@import "compass/reset";
@import "compass";

body {
    font-family: Arial, Verdana, sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
    line-height: 1.2em;
}

p {
    margin: 0.8em 0;
}

em {
    font-style: italic;
}

code {
    font-family: 'Armata', 'Courier', sans-serif;
    font-weight: bold;
}

strong {
    font-weight: bold;
}

a {
    color: #00f;
    text-decoration:none;
    border-bottom: 1px solid #00f;
    &:hover {
        background-color: #00f;
        color: #fff;
    }
}


div.syntaxhighlighter {
    padding: 0.4em;
    @include border-radius(5px);
}
/* fallback in case syntax highlighter fails. */
pre {
    font-family: 'Courier new', sans-serif;
    display: block;
    margin-bottom: 0 0 1em;
    @include border-radius(5px);
    padding: 0.4em;
    color: #fff;
    background-color: #4c4c4b;
}

div.executable {
    &:hover {
        cursor: pointer;
        outline:  2px solid #65cdfa;
    }
}

.white_text {
    color: #fff;

    a {
        color: #fff;
        text-decoration: none;
        border-bottom: 1px solid #fff;

        &:hover {
            background-color: #fff;
            color: #333;
        }
    }

    h2 { color: #fff; }
}

a.img {
    border: none;
}


footer {
    background-color: #000;
    padding: 2em 0;
    text-align: center;
}

@mixin nav-button {
    background-color: #ccc;
    border-color: #999;
    padding: 0.5em 1em;
    color: #666;
    text-decoration: none;
    @include single-box-shadow(#666,0px,0px,2px,false,true);
    @include border-radius(5px);
}


header {
    display: block;
    position: fixed;
    z-index: 9999;
    top: 0px;
    left: 0px;
    height: 70px;
    width: 100%;
    background-color: #000;
    @include opacity(0.9);
    font-family: 'Bree Serif', serif;
    font-size: 140%;
    text-align: center;
    color: #fff;

    #logo {
        display: inline-block;
        font-size: 170%;
        padding: 0.5em 0 0 0;
    }

    nav {
        display: inline-block;
        margin: 0 0 0 1em;
        font-size: 80%;

        ul {
            display: inline-block;
            margin-left: 0;
            padding: 0;

            li {
                display: inline-block;
                margin: 0 0.5em 0 0;
                padding: 0;

                a {
                    @include nav-button;

                    &.external {
                        background: #ccc url("../img/external.png") no-repeat 90% 15%;
                    }

                    &:hover {
                        color: #666;
                        background-color: #fff !important;
                    }
                }
            }
        }

        ul.submenu {
            display: none;
            @include nav-button;
            padding: 0.1em 0.5em;

            li {
                display: block;
                margin: 0;
                padding: 0;
                text-align: center;

                a {
                    display: block;
                    width: 100%;
                    margin: 0;
                    padding: 0.5em 0;
                    border: none;
                    @include single-box-shadow(#666,0px,0px,0px,false,true);
                    @include border-radius(0px);
                }
            }
        }

    }
}

section {
    padding: 0 7em 1.5em;
    border-bottom: 1px solid #ccc;

    section {
        padding: 0;
    }

    & > a {
        text-decoration: none;
    }

    h2 {
        font-family: 'Bree Serif', serif;
        text-decoration: none;
        border: none;
        margin: 0;
        padding: 0.7em 0 0;
        margin: 0 0 1em;
        font-size: 200%;
        color: #000;
    }

    h3 {
        margin: 1.5em 0 1em;
        font-size: 120%;
        font-weight: bold;
        color: #666;
        font-style: italic;
    }
}


#home {
    background-color: #ED5E11;
    border-bottom: none;
    padding-top: 100px;
    text-align: center;

    .left {
        display: inline-block;
        margin-bottom: 0.4em;
        vertical-align: top;
        font-size: 120%;
        text-align: left;

        p.heading {
            font-family: 'Bree Serif', serif;
            font-size: 340%;
            margin: 0 0 0.8em;
        }

        p.sub {
            font-style: italic;
            margin: 0.5em 0;
        }
    }

    .right {
        display: inline-block;
        vertical-align: top;
        width: 20%;
        margin-left: 3em;

        .npm {
            font-family: 'Courier new', sans-serif;
            display: block;
            margin-bottom: 0 0 1em;
            @include border-radius(5px);
            padding: 0.4em;
            color: #fff;
            background-color: #4c4c4b;
        }

        a {
            display: block;
            @include border-radius(5px);
            @include single-box-shadow(#333,0px,0px,2px,false,true);
            border: 1px solid #666;
            margin-top: 0.8em;
            padding: 0.4em 0;
            color: #333;
            text-decoration: none;
            background: #ccc url("../img/download.png") no-repeat 97% 90%;

            p {
                margin: 0;

                &.label {
                    font-weight: bold;
                }

                &.stats {
                    margin: 0.4em 0 0;
                    font-size: 80%;
                    font-style: italic;
                }
            }

            &.dev {
                background-color: #8aaab2;
            }

            &:hover {
                background-color: #fff;
            }
        }


    }
}

#overview {
    ol {
        margin: 0 0 0 3em;
        list-style: decimal;
        li {
            margin: 0.5em 0;
        }
    }
}


#installation {
    color: #333 !important;
    h2 {
        color: #333 !important;
    }
    background-color: #8aaab2;
}


#tests {
    background-color: #692f1d;
    border-bottom: none;
}


@media only screen and (max-width: 800px) {
    #github {
        display: none !important;
    }

    /* force text-wrap in code blocks */
    pre, div.syntaxhighlighter .line {
        white-space: pre-wrap !important;       /* css-3 */
        white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word !important;       /* Internet Explorer 5.5+ */
    }
}


@media only screen and (max-width: 640px) {
    header {
        position: static;
        nav {
            display: none;
        }
    }

    section {
        padding: 0 2em 1.5em 1em;
    }

    #home {
        padding-top: 30px;

        .left, .right {
            text-align: center;
            display: block;
            width: 100%;
            margin: 0;
            padding-bottom: 0.7em;
        }
    }
}



@import "_fork_me_on_github.scss";
