html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body {
  font-family: Arial, Verdana, sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
  line-height: 1.2em;
}

p {
  margin: 0.8em 0;
}
p.warning {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  font-size: 140%;
  line-height: 1.2em;
  padding: 1em;
  text-align: center;
  background-color: #f00;
  color: #fff;
}

em {
  font-style: italic;
}

code {
  font-family: 'Armata', 'Courier', sans-serif;
  font-weight: bold;
}

strong {
  font-weight: bold;
}

a {
  color: #00f;
  text-decoration: none;
  border-bottom: 1px solid #00f;
}
a:hover {
  background-color: #00f;
  color: #fff;
}

div.syntaxhighlighter {
  padding: 0.4em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* fallback in case syntax highlighter fails. */
pre {
  font-family: 'Courier new', sans-serif;
  display: block;
  margin-bottom: 0 0 1em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 0.4em;
  color: #fff;
  background-color: #4c4c4b;
}

div.executable:hover {
  cursor: pointer;
  outline: 2px solid #65cdfa;
}

div.executable > .result {
  background-color: #fff !important;
  padding: 0.2em 0.5em !important;
  margin-top: 0.5em !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
  border-radius: 5px !important;
}

div.executable > .result h5 {
  font-weight: bold;
  margin: 0.2em 0;
}

.white_text {
  color: #fff;
}
.white_text a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
}
.white_text a:hover {
  background-color: #fff;
  color: #333;
}
.white_text h2 {
  color: #fff;
}

a.img {
  border: none;
}

footer {
  background-color: #000;
  padding: 2em 0;
  text-align: center;
}

header {
  display: block;
  position: fixed;
  z-index: 9999;
  top: 0px;
  left: 0px;
  height: 70px;
  width: 100%;
  background-color: #000;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  font-family: 'Bree Serif', serif;
  font-size: 140%;
  text-align: center;
  color: #fff;
}
header #logo {
  display: inline-block;
  font-size: 170%;
  padding: 0.5em 0 0 0;
}
header nav.top {
  display: inline-block;
  margin: 0 0 0 1em;
  font-size: 80%;
}
header nav.top ul {
  display: inline-block;
  margin-left: 0;
  padding: 0;
}
header nav.top ul li {
  display: inline-block;
  margin: 0 0.5em 0 0;
  padding: 0;
}
header nav.top ul li a {
  background-color: #ccc;
  border-color: #999;
  padding: 0.5em 1em;
  color: #666;
  text-decoration: none;
  -webkit-box-shadow: inset 0px 0px 2px #666666;
  -moz-box-shadow: inset 0px 0px 2px #666666;
  box-shadow: inset 0px 0px 2px #666666;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
header nav.top ul li a.external {
  background: #cccccc url("../img/external.png") no-repeat 90% 15%;
}
header nav.top ul li a:hover {
  color: #666;
  background-color: #fff !important;
}
header nav.guide {
  display: block;
  position: absolute;
  background-color: #000;
  top: 70px;
  width: 100%;
  padding: 0 0 0.8em 0;
  font-size: 60%;
}
header nav.guide ul {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}
header nav.guide ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: center;
}
header nav.guide ul li a {
  color: #fff;
  padding: 0.2em 0.5em;
  background-color: #000;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
header nav.guide ul li.active a {
  background-color: #fff;
  color: #000;
}

section {
  padding: 0 7em 1.5em;
  border-bottom: 1px solid #ccc;
}
section section {
  padding: 0;
}
section > a {
  text-decoration: none;
}
section h2 {
  font-family: 'Bree Serif', serif;
  text-decoration: none;
  border: none;
  margin: 0;
  padding: 0.7em 0 0;
  margin: 0 0 1em;
  font-size: 200%;
  color: #000;
}
section h3 {
  margin: 1.5em 0 1em;
  font-size: 120%;
  font-weight: bold;
  color: #666;
  font-style: italic;
}

#home {
  padding-top: 150px;
  background-color: #ED5E11;
  border-bottom: none;
  text-align: center;
}
#home .left {
  display: inline-block;
  margin-bottom: 0.4em;
  vertical-align: top;
  font-size: 120%;
  text-align: left;
}
#home .left p.heading {
  font-family: 'Bree Serif', serif;
  font-size: 340%;
  margin: 0 0 0.8em;
}
#home .left p.sub {
  font-style: italic;
  margin: 0.5em 0;
}
#home .right {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-left: 3em;
}
#home .right .npm {
  font-family: 'Courier new', sans-serif;
  display: block;
  margin-bottom: 0 0 1em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 0.4em;
  color: #fff;
  background-color: #4c4c4b;
}
#home .right a {
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px 0px 2px #333333;
  -moz-box-shadow: inset 0px 0px 2px #333333;
  box-shadow: inset 0px 0px 2px #333333;
  border: 1px solid #666;
  margin-top: 0.8em;
  padding: 0.4em 0;
  color: #333;
  text-decoration: none;
  background: #cccccc url("../img/download.png") no-repeat 97% 90%;
}
#home .right a p {
  margin: 0;
}
#home .right a p.label {
  font-weight: bold;
}
#home .right a p.stats {
  margin: 0.4em 0 0;
  font-size: 80%;
  font-style: italic;
}
#home .right a.dev {
  background-color: #8aaab2;
}
#home .right a:hover {
  background-color: #fff;
}
#home #old_version {
  display: block;
  font-size: 30px;
  background-color: #000;
  color: #fff;
  line-height: 40px;
  border-radius: 10px;
  padding: 1em;
  margin: 0 0 2em;
}


#overview ol {
  margin: 0 0 0 3em;
  list-style: decimal;
}
#overview ol li {
  margin: 0.5em 0;
}

#installation {
  color: #333 !important;
  background-color: #8aaab2;
}
#installation h2 {
  color: #333 !important;
}

#tests {
  background-color: #692f1d;
  border-bottom: none;
}

/* API page */
#api {
  padding: 100px 7em 2em;
  border-bottom: none;
  width: 60%;
}
#api article {
  margin-bottom: 2em;
}
#api article h2 {
  font-family: 'Armata', 'Courier', sans-serif;
}
#api article h2 span {
  color: #ccc;
  font-style: italic;
}
#api article .flavours {
  background-color: #faa;
  margin-top: 1em;
  padding: 0.8em;
  font-weight: bold;
}
#api article .flavours span {
  font-weight: normal;
}
#api article .subKeys,
#api article .parameters {
  background-color: #efefef;
  margin-top: 1em;
  padding: 0.8em;
}
#api article .subKeys.parameters > ul:before,
#api article .parameters.parameters > ul:before {
  content: 'Parameters:';
  font-weight: bold;
}
#api article .subKeys li,
#api article .parameters li {
  margin-top: 1.5em;
}
#api article .subKeys li span,
#api article .parameters li span {
  display: inline-block;
  margin-right: 1em;
}
#api article .subKeys li .name, #api article .subKeys li .type, #api article .subKeys li .default,
#api article .parameters li .name,
#api article .parameters li .type,
#api article .parameters li .default {
  font-family: 'Armata', 'Courier', sans-serif;
}
#api article .subKeys li .type:before,
#api article .parameters li .type:before {
  content: '{';
}
#api article .subKeys li .type:after,
#api article .parameters li .type:after {
  content: '}';
}
#api article .subKeys li .default,
#api article .parameters li .default {
  font-style: italic;
}
#api article .subKeys li .description,
#api article .parameters li .description {
  display: block;
  margin-top: 0.5em;
}
#api article .subKeys li .flavours,
#api article .parameters li .flavours {
  display: inline-block;
  padding: 0.2em;
  margin-top: 0;
}
#api article .returns {
  background-color: #efefef;
  margin-top: 1em;
  padding: 0.8em;
}
#api article .returns > span:before {
  content: 'Returns: ';
  font-weight: bold;
}

aside {
  position: fixed;
  top: 100px;
  right: 4em;
  width: 15%;
  background-color: #efefef;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 1em;
}
aside > ul {
  font-family: 'Armata', 'Courier', sans-serif;
}
aside > ul > li {
  margin-bottom: 1em;
}
aside > ul > li > ul {
  display: none;
}
aside > ul > li li {
  padding: 0.1em 0;
}
aside > ul ul {
  margin-left: 0.5em;
}
aside > ul li.active > a {
  background-color: #00f;
  color: #fff;
}

/* Handle different screen sizes, etc. */
@media screen and (max-width: 820px) {
  /* force text-wrap in code blocks */
  pre, div.syntaxhighlighter .line {
    white-space: pre-wrap !important;
    /* css-3 */
    white-space: -moz-pre-wrap !important;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word !important;
    /* Internet Explorer 5.5+ */
  }

  #api {
    width: 90%;
    padding-left: 2em;
    padding-right: 2em;
  }

  header nav.guide {
    display: none;
  }

  #home, #api {
    padding-top: 100px;
  }    

  aside {
    display: none;
  }


  section {
    padding: 0 2em 1.5em 1em;
  }

  #api .left, #api .right,
  #home .left,
  #home .right {
    text-align: center;
    display: block;
    width: 100%;
    margin: 0;
    padding-bottom: 0.7em;
  }
}

@media screen and (max-width: 500px) {
  header {
    position: static;
    height: 120px;
  }

  #home {
    padding-top: 30px;
  }    

  header nav.top {
    margin-top: 1.7em;
  }
}
